{{ attach_library('surface/quote') }}

{% set classes = [
  'quote',
  modifier ? modifier,
  attributes ? attributes.class
]|join(' ')|trim %}

<div class="{{ classes }}" {{ attributes ? attributes|without('class') }}>
  <div class="quote__container">
    <div class="quote__wrapper">
      <blockquote>
        {{ quote }}
        <em>{{ author }}</em>
      </blockquote>
    </div>
  </div>
</div>
