{{ attach_library('surface/testimonial') }}
<div class="testimonial{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  {% if quote %}
    <div class="testimonial__quote">
      {{ quote|raw }}
    </div>
  {% endif %}
  {% if attribution %}
    <div class="testimonial__attribution">
      {{ attribution }}
    </div>
  {% endif %}
</div>
