{{ attach_library('surface/myth-section') }}
<section id="facts" class="myth-section{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  <div class="myth-section__inner">
    <div class="myth-section__header">
      {% if section_label %}
        <span class="myth-section__label">{{ section_label }}</span>
      {% endif %}
      {% if section_headline %}
        <h2 class="myth-section__headline">{{ section_headline|raw }}</h2>
      {% endif %}
    </div>

    {% if myths %}
      <div class="myth-section__grid">
        {% for item in myths %}
          {% include "@components/myth-item/myth-item.twig" with {
            icon: item.icon,
            myth: item.myth,
            fact: item.fact
          } only %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
