{{ attach_library('surface/page') }}

{% set classes = [
  'page',
  'page--' ~ view_mode|clean_class,
]|join(' ')|trim %}

{% set content_classes = [
  'page__main',
  content_attributes ? content_attributes.class
]|join(' ')|trim %}

<article class="{{ classes }}" {{ attributes ? attributes|without('class', 'id') }}>
  <header class="page-header page-header--short {{ content.field_sf_banner_image|field_value is not empty ? 'page-header--banner' }}">
    <div class="container">
      <div class="page-header__content">
        {{ drupal_breadcrumb() }}
        <div class="page-header__text">
          {{ title_prefix }}
          {% if title %}
            <h1 class="{{ classes }}" {{ title_attributes ? title_attributes|without('class') }}>{{ title }}</h1>
          {% endif %}
          {{ title_suffix }}
        </div>
      </div>


    </div>
  </header>

  <main class="{{ content_classes }}" {{ content_attributes ? content_attributes|without('class') }}>
    {{ drupal_view('articles_listing', 'default') }}
  </main>
</article>
