{{ attach_library('surface/contact') }}

{#<a class="contact" href="{{ url }}">{{ text }}</a>#}

<ul class="contact menu-main menu-main--dropdown menu-main--level-1" data-type="dropdown" data-drupal-selector="menu-main--level-1">
  <li class="menu__item menu__item--link menu__item--level-1{% if '/contact' == path('<current>') %} menu__item--active-trail{% endif %}">
    <a class="contact" href="{{ url }}">{{ text }}</a>
  </li>
</ul>
