{{ attach_library('surface/accountability-section') }}

<section class="accountability-section{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  <div class="accountability-section__inner">
    {% if section_label %}
      <span class="accountability-section__label">{{ section_label }}</span>
    {% endif %}
    {% if section_headline %}
      <h2 class="accountability-section__headline">{{ section_headline|raw }}</h2>
    {% endif %}
    {% if body_text %}
      <div class="accountability-section__body-main">{{ body_text|raw }}</div>
    {% endif %}

    {% if accountability_cards %}
      <div class="accountability-section__grid">
        {% for card in accountability_cards %}
          {% include "@components/card-item/card-item.twig" with {
            variant: 'pillar',
            icon: card.icon,
            title: card.headline,
            body: card.body ~ (card.cta ? '<div class="accountability-section__card-action"><a href="' ~ card.cta.url ~ '" class="accountability-section__card-link">' ~ card.cta.title ~ '</a></div>' : '')
          } only %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
