{{ attach_library('surface/stat-item') }}

<div class="stat-item{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  {% if number %}
    <span class="stat-item__number">{{ number }}</span>
  {% endif %}
  {% if label %}
    <span class="stat-item__label">{{ label }}</span>
  {% endif %}
</div>
