{{ attach_library('surface/card-item') }}
{% set variant_class = variant ? ' card-item--' ~ variant : '' %}
<div class="card-item{{ variant_class }}{{ modifier ? ' ' ~ modifier }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  {% if icon %}
    <span class="card-item__icon">{{ icon|raw }}</span>
  {% endif %}
  <div class="card-item__content">
    {% if title %}
      <h4 class="card-item__title">{{ title }}</h4>
    {% endif %}
    {% if body %}
      <div class="card-item__body">{{ body|raw }}</div>
    {% endif %}
  </div>
</div>
